<!-- Use this when you want to show a hero image to the article-->
<h1 class="amq_article_title bigdesk--hide desk--hide tablet--hide">Minden tudnivaló a macskaalomról</h1>

<figure class="amq_article_hero">
	<img src="https://d2usve9lfn5lg7.cloudfront.net/magazine/tartas-gondozas/hd/minden-tudnivalo-a-macskaalomrol-1.jpg" />
	<figcaption>
		<h1 class="amq_article_title phablet--hide smart--hide mobile--hide">Minden tudnivaló a macskaalomról</h1>
		<p class="summary">
			A cicák életében meghatározó szerepe van az alom minőségének, tisztaságának és annak megfelelő helyének a lakásban.
		</p>
	</figcaption>
</figure>


<!-- Use this when there's no hero image 
<h1 class="amq_article_title">Minden tudnivaló a macskaalomról</h1>

<p class="summary">
	A cicák életében meghatározó szerepe van az alom minőségének, tisztaságának és annak megfelelő helyének a lakásban.
</p>
-->




<p>Fontos, hogy tisztában legyél azzal, hogy hol tudja a leginkább elengedni magát kedvenced, hiszen ha feszült dolga végzése közben, akkor az számos rossz szokás kialakulásához vezethet.</p>
<p>Lássuk, mire kell figyelned az alommal kapcsolatban:</p>

<h2>Az ideális alomtálca</h2>
<ul>
	<li>az alomtálca mérete akkora legyen, hogy kényelmesen elférjen, sőt meg is tudjon fordulni benne a cicád</li>
	<li>javasolt méret: 10-15cm magas oldalfal, és 45x35cm alapterület - ez a méret felnőttkorban is használható lesz</li>
	<li>fedéllel rendelkező alomtálca - igen-nem?
		<ul>
			<li>mivel ezek bent tartják a szagot ezért sok esetben a cicát zavarják</li>
			<li>ha eltávolítod a tetejét, máris használni fogja a cicád, ha eddig kerülte volna</li>
		</ul>
	</li>
</ul>


<!-- Injected products that were hand picked for the article -->
<div class="fullbox amq-article-injected">
	<h3>Kapcsolodo termekek</h3>
	{% include "article/injected" %}
</div>


<h3>Alomtálcák száma</h3>
<ul>
	<li>figyelj arra, hogy mindig 1-el több legyen, mint ahány cicát tartasz a lakásban (ezzel nem ért mindenki egyet, kényelmi funkció)</li>
</ul>
<p><strong>Az alomtálca helye a lakásban:</strong></p>
<ul>
	<li>a cél a nyugalom, hiszen senki sem szereti ha megzavarják a dolga elvégzése közben</li>
	<li>illetve fontos, hogy Te is mindenféle nehézség nélkül tudd takarítani a kijelölt helyen a tálcát</li>
	<li>erre igen alkalmas hely szokott lenni például a füdőszoba</li>
	<li>De nagyon fontos szabály, hogy semmiképp se legyen közel az alomtálca a fekvőhelyéhez és az etető-, és itatótáljához!</li>
</ul>
<p><strong>Az alom fajtái:</strong></p>
<ul>
	<li><strong><em>nedvszívó</em></strong>
		<ul>
			<li>jó, olcsó</li>
			<li>csak az asztmás cicáknak nem javasolt, allergizáló hatása lehet a pornak</li>
		</ul>
	</li>
	<li><em><strong>csomósodó</strong></em>
		<ul>
			<li>könnyen eltávolítható</li>
			<li>nem okoz gondot</li>
			<li>ha cicád elfogadja és neked kevés időd van, akkor ez egy egyszerű és jó megoldás lehet</li>
			<li>a szagokat is elnyeli, ezért ilyen szempontból is megfelelő lehet</li>
		</ul>
	</li>
	<li><em><strong>szerves</strong></em>
		<ul>
			<li>anyaguk:papír, fakéreg széna stb.</li>
			<li>nincs mérgező hatásuk, környezetbarátok</li>
			<li>nem minden cica szereti</li>
		</ul>
	</li>
</ul>
<p><strong>Milyen gyakran kell tisztítanom?</strong></p>
<ul>
	<li>legalább naponta 1x javasolt</li>
	<li>alomlapátot szerezz a tálcához, és azzal egyszerű lesz a takarítás</li>
	<li>ha lehet akkor a székletét minél előbb távolítsd el a tálcáról, ugyanis sok cica addig nem végzi el ismét a dolgát,&nbsp; amíg valami bűzölög</li>
	<li>az alom teljes tisztítása legalább havonat 1x történjen meg</li><li>az erős szagú tisztítószereket kerüld, egyszerű szappanos víz is megteszi</li>
</ul>

<p>You probably haven't heard of them trust fund fashion axe, sartorial leggings bicycle rights cronut mlkshk selvage. American Apparel gluten-free you probably haven't heard of them letterpress four loko. Pitchfork gluten-free iPhone photo booth twee typewriter, keytar fashion axe. Mlkshk messenger bag forage, tousled +1 you probably haven't heard of them VHS iPhone. Distillery deep v authentic, Williamsburg keytar messenger bag bespoke cardigan roof party fixie forage fashion axe Pinterest occupy tattooed. Blog Austin hoodie kitsch typewriter fingerstache. Williamsburg artisan sustainable tilde, Godard actually keytar Schlitz YOLO umami.</p>

<blockquote>Ethical Pinterest salvia hella. Etsy jean shorts McSweeney's, pork belly semiotics beard messenger bag Portland cred blog biodiesel. Listicle chillwave banjo pop-up irony literally Austin, 90's messenger bag meh fingerstache Schlitz taxidermy swag tattooed. Occupy cornhole drinking vinegar Marfa, swag brunch fanny pack tattooed leggings Pitchfork keytar scenester Helvetica butcher. Biodiesel lomo mumblecore, cliche semiotics bitters Helvetica fingerstache ennui lumbersexual High Life leggings shabby chic. Church-key chillwave Pitchfork flannel raw denim. Tote bag four loko Pitchfork crucifix irony Williamsburg, leggings bitters Wes Anderson.</blockquote>

<p>Fixie tattooed before they sold out retro, slow-carb PBR cardigan distillery Schlitz chillwave fanny pack. Fixie cray pickled trust fund High Life seitan. Narwhal sustainable selfies, tote bag trust fund actually swag chillwave tilde try-hard. Chia tofu narwhal Banksy, four loko cardigan plaid Neutra fap. Chambray Blue Bottle fashion axe you probably haven't heard of them listicle, sriracha cray swag High Life narwhal. Pickled DIY retro, occupy locavore farm-to-table scenester try-hard High Life forage keffiyeh artisan. You probably haven't heard of them four loko church-key, banh mi yr McSweeney's chillwave.</p>

<p>Kale chips before they sold out cold-pressed banjo crucifix, Bushwick gluten-free asymmetrical selfies artisan Godard. Dreamcatcher readymade Neutra, pork belly Vice Pinterest direct trade cliche irony trust fund. PBR Truffaut tofu Banksy blog, cred craft beer next level ethical kitsch. Pop-up shabby chic Banksy, flexitarian banjo keffiyeh farm-to-table salvia. PBR biodiesel tofu gluten-free church-key lo-fi. Cardigan plaid yr cray DIY. Flexitarian polaroid leggings, whatever photo booth occupy cred actually XOXO fingerstache.</p>