<section class="grid__item one-half phablet--one-whole smart--one-whole mobile--one-whole amq-product-reviews">

	<h2 class="section-title">Hozzaszolasok</h2>

	<div class="fb-comments" data-href="http://developers.facebook.com/docs/plugins/comments/" data-width="100%" data-numposts="5" data-colorscheme="light"></div>

	<ul>
		<li>
			<p>Hársfalvi Mária - <small>2015. április 15. 20:15</small> | <a href="">jelentes</a></p>
			
			<p class="review-text">Most sajnos nincs cicám, de, szilikon almot használtam , hetente egyszer kiöntöttem, az alomtálcát és a lapátot Domestosszal kimostam és új almot raktam. Ez így tökéletes volt. Nekem is és a cicusnak is.</p>
		</li>
	</ul>

</section>