
<ul class="amq_product_grid grid grid--narrow">
	<li class="grid__item one-half bigdesk--one-third lap--one-half mobile--one-whole">
		<a href="#" class="grid grid--full">
			<label>-30% akcios</label>
			
			<figure class="grid__item one-half mobile--one-third">
				<img src="http://ecx.images-amazon.com/images/I/51iWU40PtxL._SL500_SR65,100_.jpg" />
			</figure>
			<div class="grid__item one-half mobile--two-thirds">
				<h4>Precious Cat Ultra Premium Clumping Cat Litter-Jumbo Size Pack-80 Pounds</h4>
				<p class="meta">Alom</p>

				<div class="product-price">
					<s>4 435 Ft</s>
					<strong>3 456 Ft</strong>
				</div>
			</div>
		</a>
	</li>
	<li class="grid__item one-half bigdesk--one-third mobile--one-whole">
		<a href="#" class="grid grid--full">
			
			<figure class="grid__item one-half mobile--one-third">
				<img src="http://ecx.images-amazon.com/images/I/51ROBQkUuxL._SL500_SR100,100_.jpg" />
			</figure>

			<div class="grid__item one-half mobile--two-thirds">
				<h4>Natural, Premium Clumping, Ultra Light, Odor Controlling Cat Litter</h4>
				<p class="meta">Alom</p>

				<div class="product-price">
					<span>3 456 Ft</span>
				</div>
			</div>
		</a>
	</li>
	<li class="grid__item bigdesk--one-third desk--hide tablet--hide phablet--hide smart--one-half">
		<a href="#" class="grid grid--full">
			<label>-10% akcios</label>
			
			<figure class="grid__item one-half mobile--one-third">
				<img src="http://ecx.images-amazon.com/images/I/41ML1CT%2B3NL._SL500_SR100,100_.jpg" />
			</figure>

			<div class="grid__item one-half mobile--two-thirds">
				<h4>Precious Cat Respiratory Releif Clay Premium all Natual Cat Litter with Herbal Essences</h4>
				<p class="meta">Alom</p>

				<div class="product-price">
					<s>1 435 Ft</s>
					<strong>956 Ft</strong>
				</div>
			</div>
		</a>
	</li>
	<li class="grid__item bigdesk--hide desk--hide tablet--hide phablet--hide smart--one-half">
		<a href="#" class="grid grid--full">
			<label>-10% akcios</label>
			
			<figure class="grid__item one-half mobile--one-third">
				<img src="http://ecx.images-amazon.com/images/I/41ML1CT%2B3NL._SL500_SR100,100_.jpg" />
			</figure>

			<div class="grid__item one-half mobile--two-thirds">
				<h4>Precious Cat Respiratory Releif Clay Premium all Natual Cat Litter with Herbal Essences</h4>
				<p class="meta">Alom</p>

				<div class="product-price">
					<s>1 435 Ft</s>
					<strong>956 Ft</strong>
				</div>
			</div>
		</a>
	</li>
</ul>

<a href="#">Meg tobb alom es alomtalca itt!</a>
