<section class="grid__item one-half phablet--one-whole smart--one-whole mobile--one-whole amq-article-readitto">

	<h2 class="section-title">Ezt olvasta mar?</h2>

	<ul>
		<li>
			<a href="#">
				<img src="https://d2usve9lfn5lg7.cloudfront.net/magazine/tartas-gondozas/preview/kutyadivat-a-kutyacopf-1.jpg" alt="Kutyadivat - a kutyacopf :)" title="Kutyadivat - a kutyacopf :)" />
				<h3>Kutyadivat - a kutyacopf :)</h3>
				<p class="extract">Új divatirányzat van kialakulóban. A nagy melegben sokan összekötik kutyájuk bundáját copfokba. Ezzel szellőznek és egy új trendnek is részesei ...</p>
				<br class="clear" />
			</a>
		</li>
		<li>
			<a href="#">
				<img src="https://d2usve9lfn5lg7.cloudfront.net/magazine/tartas-gondozas/preview/cicafajtak-amelyek-imadnak-lakasban-elni-1.jpg" alt="Cicafajták, amelyek imádnak lakásban élni!" title="Cicafajták, amelyek imádnak lakásban élni!" />
				<h3>Cicafajták, amelyek imádnak lakásban élni!</h3>
				<p class="extract">Nem minden macska viseli jól a bezártságot, ezért összegyűjtöttük azokat, amelyek szeretik és elviselik azt.</p>
				<br class="clear" />
			</a>
		</li>
		<li>
			<a href="#">
				<img src="https://d2usve9lfn5lg7.cloudfront.net/magazine/tartas-gondozas/preview/kutyak-koromvagasa-1.jpg" alt="Kutyák karomvágása" title="Kutyák karomvágása" />
				<h3>Kutyák karomvágása</h3>
				<p class="extract">A pedikűr fontos téma kutyánk életében, hiszen az ápolatlan karmok betegségek kialakulásához vezethetnek.</p>
				<br class="clear" />
			</a>
		</li>
		<li>
			<a href="#">
				<img src="https://d2usve9lfn5lg7.cloudfront.net/magazine/tartas-gondozas/preview/macskank-es-a-vedles-1.jpg" alt="Macskánk és a vedlés" title="Macskánk és a vedlés" />
				<h3>Macskánk és a vedlés</h3>
				<p class="extract">Itt a tavasz és ezzel együtt megérkezett a cicák tavaszi vedlési időszaka is! Ez szerencsére egy természetes folyamat cicánk életében, ...</p>
				<br class="clear" />
			</a>
		</li>
		<li>
			<a href="#">
				<img src="https://d2usve9lfn5lg7.cloudfront.net/magazine/tartas-gondozas/preview/kutyak-es-a-vedles-1.jpg" alt="Kutyák és a vedlés" title="Kutyák és a vedlés" />
				<h3>Kutyák és a vedlés</h3>
				<p class="extract">Végre megérkezett a tavasz és ezzel együtt a vedlés is! Ez szerencsére egy természetes folyamat kutyánk életében, azonban fontos tudnunk ...</p>
				<br class="clear" />
			</a>
		</li>
	</ul>
</section>