<aside class="grid__item one-quarter amq-article-sidebar tablet--hide phablet--hide smart--hide mobile--hide">

	<h3>Amit a tobbiek olvasnak</h3>

	<ul class="article">
		<li>
		 	<a href="#" class="grid grid--narrow">
		 		<figure class="grid__item two-fifths">
		 			<img src="https://d2usve9lfn5lg7.cloudfront.net/magazine/edes-es-vidam/preview/megdobbento-magyar-kisfilm-a-gift-egy-olyan-dolgot-mutat-beamelyet-az-emberek-titkolnak-1.jpg" alt="Megdöbbentő magyar kisfilm - a Gift egy olyan dolgot mutat be,amelyet az emberek titkolnak" title="Megdöbbentő magyar kisfilm - a Gift egy olyan dolgot mutat be,amelyet az emberek titkolnak"  />
		 		</figure>
		 		<h4 class="grid__item three-fifths">Megdöbbentő magyar kisfilm - a Gift egy olyan dolgot mutat be,amelyet az emberek titkolnak</h4>
		 	</a>
		</li>
		<li>
		 	<a href="#" class="grid grid--narrow">
		 		<figure class="grid__item two-fifths">
		 			<img src="https://d2usve9lfn5lg7.cloudfront.net/magazine/edes-es-vidam/preview/orok-baratsag-az-android-legujabb-reklamfilmje-1.jpg" alt="Örök barátság - az Android legújabb reklámfilmje" title="Örök barátság - az Android legújabb reklámfilmje" />
		 		</figure>
		 		<h4 class="grid__item three-fifths">Örök barátság - az Android legújabb reklámfilmje</h4>
		 	</a>
		</li>
		<li>
		 	<a href="#" class="grid grid--narrow">
		 		<figure class="grid__item two-fifths">
		 			<img src="https://d2usve9lfn5lg7.cloudfront.net/magazine/edes-es-vidam/preview/oscar-a-vak-cica-elso-jateka-2.jpg" alt="Oscar, a vak cica első játéka" title="Oscar, a vak cica első játéka" />
		 		</figure>
		 		<h4 class="grid__item three-fifths">Oscar, a vak cica első játéka</h4>
		 	</a>
		</li>
		<li>
		 	<a href="#" class="grid grid--narrow">
		 		<figure class="grid__item two-fifths">
		 			<img src="https://d2usve9lfn5lg7.cloudfront.net/magazine/edes-es-vidam/preview/pompus-albert-a-vilag-legmorcosabb-cicaja-1.jpg" alt="Pompus Albert - a világ legmorcosabb cicája" title="Pompus Albert - a világ legmorcosabb cicája" />
		 		</figure>
		 		<h4 class="grid__item three-fifths">Pompus Albert - a világ legmorcosabb cicája</h4>
		 	</a>
		</li>
		
	</ul>


	<h3>Amit a tobbiek vasarolnak</h3>

	<ul class="product">
		<li>
		 	<a href="#" class="grid grid--narrow">
		 		<figure class="grid__item two-fifths">
		 			<img src="http://ecx.images-amazon.com/images/I/41rs2cPGk%2BL._AA160_.jpg" />
		 		</figure>
		 		<div class="grid__item three-fifths">
			 		<h4>Hill's Science Diet Adult Large Breed Dry Dog Food Bag, 38.5-Pound</h4>
			 		<p class="meta">Eledelek</p>
			 		<div class="product-price">
						<s>4 435 Ft</s>
						<strong>3 456 Ft</strong>
					</div>
			 	</div>
		 	</a>
		</li>
		<li>
		 	<a href="#" class="grid grid--narrow">
		 		<figure class="grid__item two-fifths">
		 			<img src="http://ecx.images-amazon.com/images/I/41YvPj4QypL._AA160_.jpg" />
		 		</figure>
		 		<div class="grid__item three-fifths">
			 		<h4>Benebone Bacon Flavored Wishbone Chew Toy</h4>
			 		<p class="meta">Jatekok</p>
			 		<div class="product-price">
						<span>3 456 Ft</span>
					</div>
			 	</div>
		 	</a>
		</li>
		<li>
		 	<a href="#" class="grid grid--narrow">
		 		<figure class="grid__item two-fifths">
		 			<img src="http://ecx.images-amazon.com/images/I/61zkst5i6-L._AA160_.jpg" />
		 		</figure>
		 		<div class="grid__item three-fifths">
			 		<h4>Dentastix Oral Care Treats for Dogs, Large, 1.72 lbs, 32 Count</h4>
			 		<p class="meta">Jatekok</p>
			 		<div class="product-price">
						<s>1 435 Ft</s>
						<strong>956 Ft</strong>
					</div>
			 	</div>
		 	</a>
		</li>
		<li>
		 	<a href="#" class="grid grid--narrow">
		 		<figure class="grid__item two-fifths">
		 			<img src="http://ecx.images-amazon.com/images/I/41Z%2BI7XQ%2BtL._AA160_.jpg" />
		 		</figure>
		 		<div class="grid__item three-fifths">
			 		<h4>Zack & Zoey Crowned Crossbone Dog Hoodie, Small, 12-Inch, Black</h4>
			 		<p class="meta">Ruhazat</p>
			 		<div class="product-price">
						<span>5 999 Ft</span>
					</div>
			 	</div>
		 	</a>
		</li>
	</ul>

	<h3>Ajanlott termekek</h3>

	
	<ul class="product">
		<li>
		 	<a href="#" class="grid grid--narrow">
		 		<figure class="grid__item two-fifths">
		 			<img src="http://ecx.images-amazon.com/images/I/41rs2cPGk%2BL._AA160_.jpg" />
		 		</figure>
		 		<div class="grid__item three-fifths">
			 		<h4>Hill's Science Diet Adult Large Breed Dry Dog Food Bag, 38.5-Pound</h4>
			 		<p class="meta">Eledelek</p>
			 		<div class="product-price">
						<s>4 435 Ft</s>
						<strong>3 456 Ft</strong>
					</div>
			 	</div>
		 	</a>
		</li>
		<li>
		 	<a href="#" class="grid grid--narrow">
		 		<figure class="grid__item two-fifths">
		 			<img src="http://ecx.images-amazon.com/images/I/41YvPj4QypL._AA160_.jpg" />
		 		</figure>
		 		<div class="grid__item three-fifths">
			 		<h4>Benebone Bacon Flavored Wishbone Chew Toy</h4>
			 		<p class="meta">Jatekok</p>
			 		<div class="product-price">
						<span>3 456 Ft</span>
					</div>
			 	</div>
		 	</a>
		</li>
		<li>
		 	<a href="#" class="grid grid--narrow">
		 		<figure class="grid__item two-fifths">
		 			<img src="http://ecx.images-amazon.com/images/I/61zkst5i6-L._AA160_.jpg" />
		 		</figure>
		 		<div class="grid__item three-fifths">
			 		<h4>Dentastix Oral Care Treats for Dogs, Large, 1.72 lbs, 32 Count</h4>
			 		<p class="meta">Jatekok</p>
			 		<div class="product-price">
						<s>1 435 Ft</s>
						<strong>956 Ft</strong>
					</div>
			 	</div>
		 	</a>
		</li>
		<li>
		 	<a href="#" class="grid grid--narrow">
		 		<figure class="grid__item two-fifths">
		 			<img src="http://ecx.images-amazon.com/images/I/41Z%2BI7XQ%2BtL._AA160_.jpg" />
		 		</figure>
		 		<div class="grid__item three-fifths">
			 		<h4>Zack & Zoey Crowned Crossbone Dog Hoodie, Small, 12-Inch, Black</h4>
			 		<p class="meta">Ruhazat</p>
			 		<div class="product-price">
						<span>5 999 Ft</span>
					</div>
			 	</div>
		 	</a>
		</li>
	</ul>

	<h3>Ujdonsagok</h3>

	
	<ul class="product">
		<li>
		 	<a href="#" class="grid grid--narrow">
		 		<figure class="grid__item two-fifths">
		 			<img src="http://ecx.images-amazon.com/images/I/41rs2cPGk%2BL._AA160_.jpg" />
		 		</figure>
		 		<div class="grid__item three-fifths">
			 		<h4>Hill's Science Diet Adult Large Breed Dry Dog Food Bag, 38.5-Pound</h4>
			 		<p class="meta">Eledelek</p>
			 		<div class="product-price">
						<s>4 435 Ft</s>
						<strong>3 456 Ft</strong>
					</div>
			 	</div>
		 	</a>
		</li>
		<li>
		 	<a href="#" class="grid grid--narrow">
		 		<figure class="grid__item two-fifths">
		 			<img src="http://ecx.images-amazon.com/images/I/41YvPj4QypL._AA160_.jpg" />
		 		</figure>
		 		<div class="grid__item three-fifths">
			 		<h4>Benebone Bacon Flavored Wishbone Chew Toy</h4>
			 		<p class="meta">Jatekok</p>
			 		<div class="product-price">
						<span>3 456 Ft</span>
					</div>
			 	</div>
		 	</a>
		</li>
		<li>
		 	<a href="#" class="grid grid--narrow">
		 		<figure class="grid__item two-fifths">
		 			<img src="http://ecx.images-amazon.com/images/I/61zkst5i6-L._AA160_.jpg" />
		 		</figure>
		 		<div class="grid__item three-fifths">
			 		<h4>Dentastix Oral Care Treats for Dogs, Large, 1.72 lbs, 32 Count</h4>
			 		<p class="meta">Jatekok</p>
			 		<div class="product-price">
						<s>1 435 Ft</s>
						<strong>956 Ft</strong>
					</div>
			 	</div>
		 	</a>
		</li>
		<li>
		 	<a href="#" class="grid grid--narrow">
		 		<figure class="grid__item two-fifths">
		 			<img src="http://ecx.images-amazon.com/images/I/41Z%2BI7XQ%2BtL._AA160_.jpg" />
		 		</figure>
		 		<div class="grid__item three-fifths">
			 		<h4>Zack & Zoey Crowned Crossbone Dog Hoodie, Small, 12-Inch, Black</h4>
			 		<p class="meta">Ruhazat</p>
			 		<div class="product-price">
						<span>5 999 Ft</span>
					</div>
			 	</div>
		 	</a>
		</li>
	</ul>

</aside>