<div class="top_nav-sub hidden js-menu-top-container grid grid__full">
	
	<div class="top_nav-sub-categories grid__item one-quarter">
		<ul class="top_nav_menu top_nav_no_submenu">
			<li>
				<a href="#" class="top_nav-sub-cattitle">
					<h4>Idopont alapjan</h4>
				</a>
			</li>
			<li><a href="#">Kovetkezo ket het</a></li>
			<li><a href="#">Hetvegen</a></li>
			<li><a href="#">Jovo heten</a></li>
			<li><a href="#">Ebben a honapban</a></li>
		</ul>
	</div>

	<div class="top_nav-fixed">

		<div class="grid grid__full">
			<div class="top_nav-sub-popular top_nav-articles grid__item two-thirds">
				<h4 class="top_nav-sub-cattitle">Kiemelt programok</h4>
				<ul>
					<li>	
						<a href="#">
							<strong>Okos Gazdi Program</strong>
							<p><span class="meta"> 2015. Marcius 5.</span>
							9000 Győr, Marcalvárosi aluljáró.<br />
							Szervező: Emberek az Állatokért Alapítvány</p>
						</a>
					</li>
					<li>	
						<a href="#">
							<strong>Utó-Farsang a Misina Egyesület Gazdátlan Állataiért!</strong>
							<p><span class="meta"> 2015. Marcius 6.</span>
							7622 Pécs, Perczel utca 22.<br />
							Szervező: Misina Természet- és Állatvédő Egyesület</p>
						</a>
					</li>
					<li>	
						<a href="#">
							<strong>Okos Gazdi Program</strong>
							<p><span class="meta"> 2015. Marcius 5.</span>
							9000 Győr, Marcalvárosi aluljáró.<br />
							Szervező: Emberek az Állatokért Alapítvány</p>
						</a>
					</li>
				</ul>
			</div>

			<div class="top_nav-sub-new top_nav-articles grid__item one-third">
				<h4 class="top_nav-sub-cattitle">Legnepszerubb</h4>
				<ul>
					<li class="top_nav-article-with-image">
						<a href="#">
							<figure>
								<img src="http://img-04.amarqt.hucdn.net/magazine/taplalkozas/detailed/az-ivartalanitott-kutya-taplalasa.jpg" />
							</figure>
							<h4>Kutyakiallitas</h4>
							<p>2015. Majus 5. - Budapest Sportcsarnok</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</div>