<div class="top_nav-sub hidden js-menu-top-container grid grid__full">
	
	<div class="top_nav-sub-categories grid__item one-quarter">
		<ul class="top_nav_menu top_nav_no_submenu">
			<li>
				<a href="#" class="top_nav-sub-cattitle" data-menu="experts-default">
					<h4>Szakerto temak</h4>
				</a>
			</li>
			<li><a href="#">Tartas, gondozas</a></li>
			<li><a href="#">Betegsegek</a></li>
			<li><a href="#">Viselkedes</a></li>
			<li><a href="#">Megelozes</a></li>
		</ul>
	</div>

	<div class="top_nav-fixed">

		<div class="grid grid__full">
			<div class="top_nav-sub-experts grid__item two-thirds">
				
				<h4 class="top_nav-sub-cattitle">Aktiv szakertoink</h4>
				
				<ul>
					<li class="str_second">
						<figure class="box">
							<img src="http://placehold.it/350x350">
							<figcaption>
								<a href="#">
									Szakerto neve
								</a><br >
								szakterulete
							</figcaption>
						</figure>
					</li>
					<li class="str_second">
						<figure class="box">
							<img src="http://placehold.it/350x350">
							<figcaption>
								<a href="#">
									Szakerto neve
								</a><br >
								szakterulete
							</figcaption>
						</figure>
					</li>
				</ul>

			</div>

			<div class="top_nav-sub-popular grid__item one-third">
				<h4 class="top_nav-sub-cattitle">Osszes szakertonk</h4>
				<ul>
					<li><a href="#">Fábiánné Mile Alíz</a></li>
					<li><a href="#">Kovács Katalin</a></li>
					<li><a href="#">Hosszú Noémi</a></li>
					<li><a href="#">Dr. Jakab Ferenc</a></li>
					<li><a href="#">Vajky Andrea</a></li>
				</ul>
			</div>
		</div>

	</div>

</div>