<div class="top_nav-sub hidden js-menu-top-container grid grid__full">

	<div class="top_nav-sub-categories grid__item one-quarter">


		<ul class="top_nav_menu js-menu-ul-container">
			<!-- DEFAULT MENU ########################### -->
			<li>
				<a href="#" class="top_nav-sub-cattitle js-submenu-trigger" data-menu="magazine-default">
					<h4>Magazin temak</h4>
				</a>

				<div class="js-menu-aim top_nav-sub-aim js-menu-replace js-menu-defaultset top_nav-sub-defaultset" id="magazine-default">

					<div class="grid grid__full">
						<div class="top_nav-sub-popular top_nav-articles grid__item one-half">

							<h4 class="top_nav-sub-cattitle">Legnepszerubb tartalmak</h4>
							<ul>
								<li>	
									<a href="#">
										<strong>Újabb állatkínzás Somogy megyében</strong>
										<p><span class="meta">Hirek</span> Egy berzencei lakos napokig nem etette a lovát, amely annyira legyengült, hogy összeesett.</p>
									</a>
								</li>
								<li>	
									<a href="#">
										<strong>Elutazott otthonról a háziállatait pedig magukra hagyta</strong>
										<p><span class="meta">Hirek</span> Az állatvédők és a rendőrök együttműködésének köszönhetően két kutyát és egy macskát mentettek meg egy házból. A tulajdonost állatkínzás miatt ...</p>
									</a>
								</li>
								<li>	
									<a href="#">
										<strong>Okos Gazdi Program - Gazdiknak és Gazdijelölteknek</strong>
										<p><span class="meta">Erdekessegek</span> Ingyenes minisorozatot indított a Győri Állatmenhely</p>
									</a>
								</li>
							</ul>
						</div>

						
						<div class="top_nav-sub-new top_nav-articles grid__item one-half">
							<h4 class="top_nav-sub-cattitle">Legujabb cikk</h4>
							<ul>
								<li class="top_nav-article-with-image">
									<a href="#">
										<figure>
											<img src="http://img-02.amarqt.hucdn.net/magazine/viselkedes/detailed/a-dominanciabol-fakado-agresszio-kutyaknal-1.jpg" />
										</figure>
										<h4>A dominanciából fakadó agresszió kutyáknál</h4>
										<p>Ki az úr a háznál! Nagyon fontos kérdés a kutya életében. Ha nincs meg a megfelelő falkavezér, akkor a kutya ...</p>
									</a>
								</li>
							</ul>
						</div>
					</div>

				</div>

			<!-- TARTAS MENU ########################### -->
			<li>	
				<a href="#" data-menu="tartas_gondozas">Tartas, gondozas<span class="icon-play3"></span></a>

				<div class="js-menu-aim top_nav-sub-aim js-menu-replace hidden" id="tartas_gondozas">
					

					<div class="grid grid__full">
						<div class="top_nav-sub-popular top_nav-articles grid__item one-half">
							<h4 class="top_nav-sub-cattitle">Friss: Tartas, gondozas</h4>
							<ul>
								<li>	
									<a href="#">
										<strong>Cicád unatkozik? - 5 egyszerű otthon elkészíthető játék</strong>
										<p>Cicánk kondícióját és jó közérzetét figyelnünk kell, ezért nem árt ha rendszeresen játszunk vele.</p>
									</a>
								</li>
								<li>	
									<a href="#">
										<strong>Hogyan mérjem meg cicám lázát?</strong>
										<p>Ha látjuk cicánkon hogy láza lehet, akkor mindenképpen meg kell mérnünk mielőtt az orvost felhívjuk.</p>
									</a>
								</li>
								<li>	
									<a href="#">
										<strong>Cicák szemápolása</strong>
										<p>Szerencsére nem minden gazdinak kell napi rendszerességgel a szemek ápolásával foglalkoznia, akinek például Perzsa cicája van, annak mindenképp!</p>
									</a>
								</li>
							</ul>
						</div>


						
						<div class="top_nav-sub-new top_nav-articles grid__item one-half">
							<h4 class="top_nav-sub-cattitle">Legnepszerubb a temaban</h4>
							<ul>
								<li class="top_nav-article-with-image">
									<a href="#">
										<figure>
											<img src="http://img-02.amarqt.hucdn.net/magazine/tartas-gondozas/detailed/a-boldog-lakasban-elo-cica-titka-1.jpg" />
										</figure>
										<h4>A boldog, lakásban élő cica titka</h4>
										<p>Tudod mivel teheted igazán boldoggá a lakásban tartott cicád életét? Segítünk 10 jó tanáccsal megakadályozni a stressz és az unalom ....</p>
									</a>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</li>

			<!-- FAJTAK MENU ########################### -->
			<li>
				<a href="#" data-menu="fajtak">Fajtak<span class="icon-play3"></span></a>

				<div class="js-menu-aim top_nav-sub-aim js-menu-replace hidden" id="fajtak">
					
					<div class="grid grid__full">
						<div class="top_nav-sub-popular top_nav-articles grid__item one-half">
							<h4 class="top_nav-sub-cattitle">Friss: Fajtaleirasok</h4>
							<ul>
								<li>	
									<a href="#">
										<strong>Nagy svájci havasi kutya</strong>
										<p>Ha egy nagy méretű, nyugodt mackót szeretnél, akit azért kordában kell tartani, akkor hajrá! Válaszd ezt a fajtát!</p>
									</a>
								</li>
								<li>	
									<a href="#">
										<strong>Angol cocker spániel</strong>
										<p>Egy igazán játékos és mozgékony kutyafajta.</p>
									</a>
								</li>
								<li>	
									<a href="#">
										<strong>Havanese</strong>
										<p>Kis testben nagy lélek!</p>
									</a>
								</li>
								<li>	
									<a href="#">
										<strong>Az Alaszkai Malamut</strong>
										<p>Ha egy igazán nagy mozgásigényű kutyusra vágysz, akkor megtaláltad az igazit! :)</p>
									</a>
								</li>
							</ul>
						</div>


						
						<div class="top_nav-sub-new top_nav-articles grid__item one-half">
							<h4 class="top_nav-sub-cattitle">Legnepszerubb a temaban</h4>
							<ul>
								<li class="top_nav-article-with-image">
									<a href="#">
										<figure>
											<img src="http://img.amarqt.hucdn.net/magazine/fajtak/detailed/a-vilag-legnagyobb-kutyafajtai-2.jpg" />
										</figure>
										<h4>A világ legnagyobb kutyafajtái</h4>
										<p>ÚÚÚÚÚ... ha valaki meglátja ezeket a marmagasságokat az biztos hogy el fog ámulni rajtuk!</p>
									</a>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</li>

			<!-- TAPLALAS MENU ########################### -->
			<li>
				<a href="#" data-menu="taplalas">Taplalas, taplalkozas<span class="icon-play3"></span></a>

				<div class="js-menu-aim top_nav-sub-aim js-menu-replace hidden" id="taplalas">


					<div class="grid grid__full">
						<div class="top_nav-sub-popular top_nav-articles grid__item one-half">
							<h4 class="top_nav-sub-cattitle">Friss: Taplalas</h4>
							<ul>
								<li>	
									<a href="#">
										<strong>Cicák és a tápfüggőség</strong>
										<p>Sokan azt gondolják, hogy cicájuk azért csak egyféle tápot szeret sőt sok esetben imád, mert valami olyan anyaggal keverik össze, ...</p>
									</a>
								</li>
								<li>	
									<a href="#">
										<strong>Eliminációs diéta</strong>
										<p>Ez a diéta akkor alkalmazandó, amikor kedvencünk szervezete táplálékallergiával küzd.</p>
									</a>
								</li>
								<li>	
									<a href="#">
										<strong>Kutyák és a cirtomevés</strong>
										<p>Tudod hogyan reagálnak kedvenceink a citrom ízére?</p>
									</a>
								</li>
							</ul>
						</div>


						
						<div class="top_nav-sub-new top_nav-articles grid__item one-half">
							<h4 class="top_nav-sub-cattitle">Legnepszerubb a temaban</h4>
							<ul>
								<li class="top_nav-article-with-image">
									<a href="#">
										<figure>
											<img src="http://img-04.amarqt.hucdn.net/magazine/taplalkozas/detailed/az-ivartalanitott-kutya-taplalasa.jpg" />
										</figure>
										<h4>Az ivartalanított kutya táplálása</h4>
										<p>Mire kell figyelnünk kedvencünk etetésénél, ha ivartalanítani szeretnénk vagy már megtörtént a beavatkozás.</p>
									</a>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</li>

			<!-- VIDAM MENU ########################### -->
			<li>
				<a href="#" data-menu="edes-vidam">Edes es vidam<span class="icon-play3"></span></a>

				<div class="js-menu-aim top_nav-sub-aim js-menu-replace hidden" id="edes-vidam">
					
					<div class="grid grid__full">
						<div class="top_nav-sub-popular top_nav-articles grid__item one-half">
							<h4 class="top_nav-sub-cattitle">Friss: Edes es vidam</h4>
							<ul>
								<li>	
									<a href="#">
										<strong>Édes és egyben elgondolkodtató animációs film a Disney-től</strong>
										<p>Egy kutyussal ismerkedhetünk meg, aki az utcán ismeri meg gazdiját.</p>
									</a>
								</li>
								<li>	
									<a href="#">
										<strong>A hajléktalan hős macska</strong>
										<p>Mását a cicát Oroszországban hősként tisztelik, mivel megmentette egy dobozban hagyott csecsemő életét adta hírül a New York Post.</p>
									</a>
								</li>
								<li>	
									<a href="#">
										<strong>Aerobik lusta cicáknak</strong>
										<p>Láttál már sokat alvó cicát? A válasz gondolom igen. És olyat amelyik aerobikozik? Hát... ez jó kérdés:) Kihagyhatatlan videó, amely ..</p>
									</a>
								</li>
							</ul>
						</div>


						
						<div class="top_nav-sub-new top_nav-articles grid__item one-half">
							<h4 class="top_nav-sub-cattitle">Legnepszerubb a temaban</h4>
							<ul>
								<li class="top_nav-article-with-image">
									<a href="#">
										<figure>
											<img src="http://img-01.amarqt.hucdn.net/magazine/edes-es-vidam/detailed/utolso-pillanatok-szivszaggato-kepek-az-elvalasrol.jpg" />
										</figure>
										<h4>Szívszaggató képek az elválásról</h4>
										<p>Nincs olyan kutyatartó a földön, aki ne rettegne az elválástól. Az örökre, a vissza nem fordíthatótól... Sara Erhardt ezt örökíti ...</p>
									</a>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</li>

			<!-- EGESZSEGVEDELEM MENU ########################### -->
			<li>
				<a href="#" data-menu="egeszsegvedelem">Egeszsegvedelem<span class="icon-play3"></span></a>

				<div class="js-menu-aim top_nav-sub-aim js-menu-replace hidden" id="egeszsegvedelem">
					
					<div class="grid grid__full">
						<div class="top_nav-sub-popular top_nav-articles grid__item one-half">
							<h4 class="top_nav-sub-cattitle">Friss: Egeszsegvedelem</h4>
							<ul>
								<li>	
									<a href="#">
										<strong>A kutyák láza és a lázmérés folyamata</strong>
										<p>Számok, amelyekkel nem jó viccelni. Viszont mindenképpen fontos tudnunk, hogy mi számít láznak és mi nem.</p>
									</a>
								</li>
								<li>	
									<a href="#">
										<strong>Amit kutyád orráról tudnod érdemes</strong>
										<p>A kutya orra egy számunkra ismeretlen világot jelent, mivel el sem tudjuk képzelni, hogy mit érezhet kedvencünk 1-1 mellettünk elsétáló ...</p>
									</a>
								</li>
								<li>	
									<a href="#">
										<strong>Cicák bundájának kefélési és fésülési folyamata</strong>
										<p>Minden hosszú-, és félhosszú szőrű cica gazdijának fontos téma, hogy kedvence bundáját mikor és hogyan érdemes ápolnia.</p>
									</a>
								</li>
							</ul>
						</div>


						
						<div class="top_nav-sub-new top_nav-articles grid__item one-half">
							<h4 class="top_nav-sub-cattitle">Legnepszerubb a temaban</h4>
							<ul>
								<li class="top_nav-article-with-image">
									<a href="#">
										<figure>
											<img src="http://img-02.amarqt.hucdn.net/magazine/mit-tegyek/detailed/mire-figyelj-ha-cicat-szeretnel.jpg" />
										</figure>
										<h4>Mire figyelj, ha cicát szeretnél</h4>
										<p>Elkezdődött az ünnepi készülődés, és sok szülő fejében megfordul, hogy mit vegyen gyermekének ajándékba. A lista hosszúsága változó lehet, de ...</p>
									</a>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</li>

			<!-- HIREK MENU ########################### -->
			<li>
				<a href="#" data-menu="hirek">Hirek<span class="icon-play3"></a>

				<div class="js-menu-aim top_nav-sub-aim js-menu-replace hidden" id="hirek">
					

					<div class="grid grid__full">
						<div class="top_nav-sub-popular top_nav-articles grid__item one-half">
							<h4 class="top_nav-sub-cattitle">Friss: Hirek</span></h4>
							<ul>
								<li>	
									<a href="#">
										<strong>Újabb állatkínzás Somogy megyében</strong>
										<p>Egy berzencei lakos napokig nem etette a lovát, amely annyira legyengült, hogy összeesett.</p>
									</a>
								</li>
								<li>	
									<a href="#">
										<strong>Elutazott otthonról a háziállatait pedig magukra hagyta</strong>
										<p>Az állatvédők és a rendőrök együttműködésének köszönhetően két kutyát és egy macskát mentettek meg egy házból. A tulajdonost állatkínzás miatt ...</p>
									</a>
								</li>
								<li>	
									<a href="#">
										<strong>Meghalt egy kölyöktigris a kínai holdújév tüzijáték- és petárdazaja miatt</strong>
										<p>Levetette magát egy 11 emeletes városi épületről egy kölyöktigris a kelet-kínai Santung tartományban.</p>
									</a>
								</li>
							</ul>
						</div>


						
						<div class="top_nav-sub-new top_nav-articles grid__item one-half">
							<h4 class="top_nav-sub-cattitle">Legnepszerubb a temaban</h4>
							<ul>
								<li class="top_nav-article-with-image">
									<a href="#">
										<figure>
											<img src="http://img-03.amarqt.hucdn.net/magazine/hirek/detailed/ma-van-az-ivartalanitas-napja-world-spay-day-1.jpg" />
										</figure>
										<h4>Ma van az Ivartalanítás napja - World Spay Day</h4>
										<p>Az ivartalanítás fontossága minden országban előtérben van, hiszen a kóbor állatok létszámának növekedése, mindenhol problémát okoz.</p>
									</a>
								</li>
							</ul>
						</div>
					</div>

				</div>

			</li>
		</ul>
	</div>
	
</div>