<div class="top_nav-sub hidden js-menu-top-container grid grid__full">
	
	<div class="top_nav-sub-categories grid__item one-quarter">
		<ul class="top_nav_menu top_nav_no_submenu">
			<li>
				<a href="#" class="top_nav-sub-cattitle">
					<h4>Fajta alapjan</h4>
				</a>
			</li>
			<li><a href="#">Kutya</a></li>
			<li><a href="#">Macska</a></li>
			<li><a href="#">Osszes</a></li>
		</ul>
	</div>

	<div class="top_nav-fixed">

		<div class="grid grid__full">
			<div class="top_nav-sub-cities grid__item two-thirds">
				
				<h4 class="top_nav-sub-cattitle">Menhelyek keresese</h4>
				<ul class="top_nav-multicol">
					<li><a href="">Bekescsaba</a></li>
					<li><a href="">Budapest</a></li>
					<li><a href="">Debrecen</a></li>
					<li><a href="">Eger</a></li>
					<li><a href="">Gyor</a></li>
					<li><a href="">Kaposvar</a></li>
					<li><a href="">Kecskemet</a></li>
					<li><a href="">Miskolc</a></li>
					<li><a href="">Nyiregyhaza</a></li>
					<li><a href="">Pecs</a></li>
					<li><a href="">Salgotarjan</a></li>
					<li><a href="">Szeged</a></li>
					<li><a href="">Szekesfehervar</a></li>
					<li><a href="">Szekszard</a></li>
					<li><a href="">Szolnok</a></li>
					<li><a href="">Szombathely</a></li>
					<li><a href="">Tatabanya</a></li>
					<li><a href="">Veszprem</a></li>
					<li><a href="">Zalaegerszeg</a></li>
				</ul>

			</div>
			<div class="top_nav-sub-newbies grid__item one-third">
				
				<h4 class="top_nav-sub-cattitle">Újoncok</h4>
				
				<ul>
					<li>
						<a href="/menhely/kutya/harlekin-pincser/bella/456">
							<img src="https://d2usve9lfn5lg7.cloudfront.net/shelter/keverek/lightbox/kajla-1.jpg" alt="Bella" title="Bella" class="h_45 w_auto" width="90" height="67" itemprop="image">
						</a>
					</li>
					<li>
						<a href="/menhely/kutya/keverek/bimbi/455">
							<img src="https://d2usve9lfn5lg7.cloudfront.net/shelter/keverek/lightbox/gondor-1.jpg" alt="Bimbi" title="Bimbi" class="h_45 w_auto" width="90" height="67" itemprop="image">
						</a>
					</li>
					<li>
						<a href="/menhely/kutya/keverek/berci/454">
							<img src="http://img-04.amarqt.hucdn.net/shelter/keverek/thumbnail/berci-1.jpg" alt="Berci" title="Berci" class="h_45 w_auto" width="90" height="66" itemprop="image">
						</a>
					</li>
					<li>
						<a href="/menhely/kutya/keverek/maci/453">
							<img src="http://img-03.amarqt.hucdn.net/shelter/keverek/thumbnail/maci-2.jpg" alt="Maci" title="Maci" class="h_45 w_auto" width="90" height="67" itemprop="image">
						</a>
					</li>
					<li>
						<a href="/menhely/kutya/keverek/dexter/452">
							<img src="http://img-02.amarqt.hucdn.net/shelter/keverek/thumbnail/dexter-1.jpg" alt="Dexter" title="Dexter" class="h_45 w_auto" width="90" height="60" itemprop="image">
						</a>
					</li>
					<li>
						<a href="/menhely/kutya/keverek/fanni-es-fuge/450">
							<img src="http://img.amarqt.hucdn.net/shelter/keverek/thumbnail/fanni-es-fuge-1.jpg" alt="Fanni és Füge" title="Fanni és Füge" class="h_45 w_auto" width="90" height="54" itemprop="image">
						</a>
					</li>
				</ul>

			</div>
		</div>



	</div>

</div>