<div class="top_nav-sub hidden js-menu-top-container grid grid__full">

	<div class="top_nav-sub-categories grid__item one-quarter">
		
		<ul class="top_nav_menu js-menu-ul-container">
			<!-- DEFAULT MENU ########################### -->
			<li>
				<a href="#" class="top_nav-sub-cattitle js-submenu-trigger" data-menu="shop-default">
					<h4>Termek kategoriak</h4>
				</a>

				<div class="js-menu-aim top_nav-sub-aim js-menu-replace js-menu-defaultset top_nav-sub-defaultset" id="shop-default">

					<div class="grid grid__full">
						<div class="top_nav-sub-popular grid__item one-third">
							<h4 class="top_nav-sub-cattitle">Nepszeru allatfajtak</h4>
							<ul>
								<li><a href="#">Kutya</a></li>
								<li><a href="#">Macska</a></li>
								<li><a href="#">Tengeri halak</a></li>
								<li><a href="#">Hullo</a></li>
								<li><a href="#">Horcsog, torpehorcsog</a></li>
								<li><a href="#">Diszmadar</a></li>
								<li><a href="#">Édesvizi, brakkvizi halak</a></li>
								<li><a href="#">Kétéltű</a></li>
								<li><a href="#">Nyúl, törpenyúl</a></li>
							</ul>
						</div>

						
						<div class="top_nav-sub-new grid__item one-third">
							<h4 class="top_nav-sub-cattitle">Nepszeru markak</h4>
							<ul>
								<li><a href="#">TRIXIE</a></li>
								<li><a href="#">Ferplast</a></li>
								<li><a href="#">Cunipic</a></li>
								<li><a href="#">Almapharm</a></li>
								<li><a href="#">Panzi</a></li>
							</ul>
						</div>

						
						<div class="top_nav-sub-highlight grid__item one-third">
							<h4 class="top_nav-sub-cattitle">Top termek</h4>
							<div class="top_nav-sub-product">
								<a href="#">
									<img src="http://img-04.amarqt.hucdn.net/tapok-szaraz-tapok/acana/preview/acana-adult-dog-13kg.jpg">
									<strong>Acana Adult Dog (13kg)</strong>
									<i>Tápok (száraz tápok)</i>
									<span><strike>16 000 Ft</strike> 14 088 Ft</span>
								</a>
							</div>
						</div>
					</div>
				</div>


			</li>
			<!-- ELEDELEK MENU ########################### -->
			<li>	
				<a href="#" data-menu="eledelek">Eledelek<span class="icon-play3"></span></a>

				<div class="js-menu-aim top_nav-sub-aim js-menu-replace hidden" id="eledelek">
					<div class="grid grid__full">
						<div class="top_nav-sub-popular grid__item one-third">
							<h4 class="top_nav-sub-cattitle">Eledelek</h4>
							<ul>
								<li><a href="#">Tápok (száraz tápok)</a></li>
								<li><a href="#">Speciális eledelek</a></li>
								<li><a href="#">Alutasakok, konzervek (nedves tápok)</a></li>
								<li><a href="#">Jutalomfalatok, fogtisztítók, kekszek</a></li>
								<li><a href="#">Takarmány</a></li>
								<li><a href="#">Csemegék</a></li>
							</ul>
						</div>

						
						<div class="top_nav-sub-new grid__item one-third">
							<h4 class="top_nav-sub-cattitle">Kor</h4>
							<ul>
								<li><a href="#">Felnőtt</a></li>
								<li><a href="#">Kölyök</a></li>
								<li><a href="#">Minden korosztály</a></li>
								<li><a href="#">Idős</a></li>
								<li><a href="#">Felnőtt, idős</a></li>
							</ul>
						</div>

						
						<div class="top_nav-sub-highlight grid__item one-third">
							<h4 class="top_nav-sub-cattitle">Top termek</h4>
							<div class="top_nav-sub-product">
								<a href="#">
									<img src="http://img-01.amarqt.hucdn.net/szaritott/preview/8in1-fillets-pro-active-39s39-80g.jpg">
									<strong>8in1 Fillets Pro Active (S)</strong>
									<i>Jutalomfalatok, fogtisztítók, kekszek</i>
									<span>644 Ft</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</li>

			<!-- JATEKOK MENU ########################### -->
			<li>
				<a href="#" data-menu="jatekok">Jatekok<span class="icon-play3"></span></a>

				<div class="js-menu-aim top_nav-sub-aim js-menu-replace hidden" id="jatekok">
					
					<div class="grid grid__full">
						<div class="top_nav-sub-popular grid__item one-third">
							<h4 class="top_nav-sub-cattitle">Jatekok</h4>
							<ul>
								<li><a href="#">labdák</a></li>
								<li><a href="#">interaktív játékok</a></li>
								<li><a href="#">gumi és műanyag játékok</a></li>
								<li><a href="#">csörgős játékok</a></li>
							</ul>
						</div>

						
						<div class="top_nav-sub-new grid__item one-third">
							<h4 class="top_nav-sub-cattitle">Allatfajta</h4>
							<ul>
								<li><a href="#">Kutya</a></li>
								<li><a href="#">Papagáj</a></li>
								<li><a href="#">Hörcsög, törpehörcsög</a></li>
								<li><a href="#">Macska</a></li>
								<li><a href="#">Görény</a></li>
								<li><a href="#">Nyúl, törpenyúl</a></li>
								<li><a href="#">Díszmadár</a></li>
							</ul>
						</div>

						
						<div class="top_nav-sub-highlight grid__item one-third">
							<h4 class="top_nav-sub-cattitle">Top termek</h4>
							<div class="top_nav-sub-product">
								<a href="#">
									<img src="http://img-02.amarqt.hucdn.net/jatekok/hagen/preview/hagen-gorenycso-60876.jpg">
									<strong>HAGEN Living World görénycső</strong>
									<i>Jatekok</i>
									<span>2 421 Ft</span>
								</a>
							</div>
						</div>
					</div>

				</div>
			</li>

			<!-- KOZMETIKA MENU ########################### -->
			<li>
				<a href="#" data-menu="kozmetika">Kozmetika / apolas<span class="icon-play3"></span></a>

				<div class="js-menu-aim top_nav-sub-aim js-menu-replace hidden" id="kozmetika">

					<div class="grid grid__full">
						<div class="top_nav-sub-popular grid__item one-third">
							<h4 class="top_nav-sub-cattitle">Kozmetika</h4>
							<ul>
								<li><a href="#">fésűk</a></li>
								<li><a href="#">kefék</a></li>
								<li><a href="#">ollók</a></li>
								<li><a href="#">samponok</a></li>
								<li><a href="#">bolha és kullancs elleni szerek</a></li>
								<li><a href="#">szem, fül és orr ápolók</a></li>
								<li><a href="#">fog-, és szájápolás</a></li>
							</ul>
						</div>

						
						<div class="top_nav-sub-new grid__item one-third">
							<h4 class="top_nav-sub-cattitle">Allatfajta</h4>
							<ul>
								<li><a href="#">Kutya</a></li>
								<li><a href="#">Macska</a></li>
								<li><a href="#">Ló</a></li>
								<li><a href="#">Hörcsög, törpehörcsög</a></li>
								<li><a href="#">Görény</a></li>
								<li><a href="#">Tengerimalac</a></li>
								<li><a href="#">Díszmadár</a></li>
								<li><a href="#">Nyúl, törpenyúl</a></li>
							</ul>
						</div>

						
						<div class="top_nav-sub-highlight grid__item one-third">
							<h4 class="top_nav-sub-cattitle">Top termek</h4>
							<div class="top_nav-sub-product">
								<a href="#">
									<img src="http://img-03.amarqt.hucdn.net/kefek/aqua-food/preview/aqua-food-szorkefe-fanyelu-17cm.jpg">
									<strong>Aqua-Food Szőrkefe</strong>
									<i>kefek</i>
									<span>530 Ft</span>
								</a>
							</div>
						</div>
					</div>


				</div>
			</li>

			<!-- RUHAZAT MENU ########################### -->
			<li>
				<a href="#" data-menu="ruhazat">Allati ruhazat<span class="icon-play3"></span></a>

				<div class="js-menu-aim top_nav-sub-aim js-menu-replace hidden" id="ruhazat">

					<div class="grid grid__full">
						<div class="top_nav-sub-popular grid__item one-third">
							<h4 class="top_nav-sub-cattitle">Ruhazat</h4>
							<ul>
								<li><a href="#">kabat</a></li>
								<li><a href="#">pullover</a></li>
							</ul>
						</div>

						
						<div class="top_nav-sub-new grid__item one-third">
							<h4 class="top_nav-sub-cattitle">Allatfajta</h4>
							<ul>
								<li><a href="#">Kutya</a></li>
							</ul>
						</div>

						
						<div class="top_nav-sub-highlight grid__item one-third">
							<h4 class="top_nav-sub-cattitle">Top termek</h4>
							<div class="top_nav-sub-product">
								<a href="#">
									<img src="http://img.amarqt.hucdn.net/pulover/trixie/preview/trixie-67172-pulover-garda-27cm-2.jpg">
									<strong>TRIXIE Garda pulóver (XS)</strong>
									<i>pullover</i>
									<span>4 089 Ft</span>
								</a>
							</div>
						</div>
					</div>

				</div>
			</li>

			<!-- EGESZSEGUGY MENU ########################### -->
			<li>
				<a href="#" data-menu="egeszsegugy">Egeszsegugyi termekek<span class="icon-play3"></span></a>

				<div class="js-menu-aim top_nav-sub-aim js-menu-replace hidden" id="egeszsegugy">


					<div class="grid grid__full">
						<div class="top_nav-sub-popular grid__item one-third">
							<h4 class="top_nav-sub-cattitle">Egeszsegugy</h4>
							<ul>
								<li><a href="#">Vitaminok, immunerősítők</a></li>
								<li><a href="#">Gyógyszerek</a></li>
								<li><a href="#">Élősködők elleni készítmények, termékek</a></li>
							</ul>
						</div>

						
						<div class="top_nav-sub-new grid__item one-third">
							<h4 class="top_nav-sub-cattitle">Allatfajta</h4>
							<ul>
								<li><a href="#">Kutya</a></li>
								<li><a href="#">Macska</a></li>
								<li><a href="#">Nyúl, törpenyúl</a></li>
								<li><a href="#">Díszmadár</a></li>
							</ul>
						</div>

						
						<div class="top_nav-sub-highlight grid__item one-third">
							<h4 class="top_nav-sub-cattitle">Top termek</h4>
							<div class="top_nav-sub-product">
								<a href="#">
									<img src="http://img-05.amarqt.hucdn.net/borgyogyaszati-keszitmenyek/bayer/preview/bayer-advantage-40-kp08cwn-07_2017.jpg">
									<strong>Bayer Advantage 40, macskáknak</strong>
									<i>kefek</i>
									<span>5 551 Ft</span>
								</a>
							</div>
						</div>
					</div>


				</div>
			</li>

			<!-- FELSZERELEKS MENU ########################### -->
			<li>
				<a href="#" data-menu="felszereles">Felszereles<span class="icon-play3"></span></a>

				<div class="js-menu-aim top_nav-sub-aim top_nav-sub-replace hidden" id="felszereles">


					<div class="grid grid__full">
						<div class="top_nav-sub-popular grid__item one-third">
							<h4 class="top_nav-sub-cattitle">Felszereles</h4>
							<ul>
								<li><a href="#">Otthon</a></li>
								<li><a href="#">Utazás</a></li>
								<li><a href="#">Sétáltatás</a></li>
								<li><a href="#">Sport, képzés</a></li>
								<li><a href="#">Akvárium</a></li>
								<li><a href="#">Terrárium</a></li>
								<li><a href="#">madár</a></li>
								<li><a href="#">egyéb</a></li>
							</ul>
						</div>

						
						<div class="top_nav-sub-new grid__item one-third">
							<h4 class="top_nav-sub-cattitle">Allatfajta</h4>
							<ul>
								<li><a href="#">Kutya</a></li>
								<li><a href="#">Macska</a></li>
								<li><a href="#">Tengeri halak</a></li>
								<li><a href="#">Hullo</a></li>
								<li><a href="#">Horcsog, torpehorcsog</a></li>
								<li><a href="#">Diszmadar</a></li>
								<li><a href="#">Édesvizi, brakkvizi halak</a></li>
								<li><a href="#">Kétéltű</a></li>
								<li><a href="#">Nyúl, törpenyúl</a></li>
							</ul>
						</div>

						
						<div class="top_nav-sub-highlight grid__item one-third">
							<h4 class="top_nav-sub-cattitle">Top termek</h4>
							<div class="top_nav-sub-product">
								<a href="#">
									<img src="http://img.amarqt.hucdn.net/w/15/almok/preview/catsan-macskaalom-10l-3.jpg">
									<strong>Catsan Higiéniás macskaalom, 10L</strong>
									<i>almok</i>
									<span>3 028 Ft</span>
								</a>
							</div>
						</div>
					</div>


				</div>

			</li>
		</ul>
	</div>

</div>