<section class="grid__item one-whole">

	<h2 class="section-title">Kapcsolodo termekek</h2>



	<ul class="amq_product_grid grid grid--narrow">
		<li class="grid__item one-third bigdesk--one-quarter lap--one-half mobile--one-whole">
			<a href="#" class="grid grid--full">
				<label>-30% akcios</label>
				
				<figure class="grid__item one-half mobile--one-third">
					<img src="http://ecx.images-amazon.com/images/I/41rs2cPGk%2BL._AA160_.jpg" />
				</figure>

				<div class="grid__item one-half mobile--two-thirds">
					<h4>Hill's Science Diet Adult Large Breed Dry Dog Food Bag, 38.5-Pound</h4>
					<p class="meta">Eledelek</p>

					<div class="product-price">
						<s>4 435 Ft</s>
						<strong>3 456 Ft</strong>
					</div>
				</div>
			</a>
		</li>
		<li class="grid__item one-third bigdesk--one-quarter lap--one-half mobile--one-whole">
			<a href="#" class="grid grid--full">
				
				<figure class="grid__item one-half mobile--one-third">
					<img src="http://ecx.images-amazon.com/images/I/41YvPj4QypL._AA160_.jpg" />
				</figure>

				<div class="grid__item one-half mobile--two-thirds">
					<h4>Benebone Bacon Flavored Wishbone Chew Toy</h4>
					<p class="meta">Jatekok</p>

					<div class="product-price">
						<span>3 456 Ft</span>
					</div>
				</div>
			</a>
		</li>
		<li class="grid__item one-third bigdesk--one-quarter lap--one-half mobile--one-whole">
			<a href="#" class="grid grid--full">
				<label>-10% akcios</label>
				
				<figure class="grid__item one-half mobile--one-third">
					<img src="http://ecx.images-amazon.com/images/I/61zkst5i6-L._AA160_.jpg" />
				</figure>

				<div class="grid__item one-half mobile--two-thirds">
					<h4>Dentastix Oral Care Treats for Dogs, Large, 1.72 lbs, 32 Count</h4>
					<p class="meta">Jatekok</p>

					<div class="product-price">
						<s>1 435 Ft</s>
						<strong>956 Ft</strong>
					</div>
				</div>
			</a>
		</li>
		<li class="grid__item hidden bigdesk--one-quarter bigdesk--showiblock lap--one-half lap--showiblock mobile--hide">
			<a href="#" class="grid grid--full">
				
				<figure class="grid__item one-half mobile--one-third">
					<img src="http://ecx.images-amazon.com/images/I/41Z%2BI7XQ%2BtL._AA160_.jpg" />
				</figure>
				
				<div class="grid__item one-half mobile--two-thirds">
					<h4>Zack & Zoey Crowned Crossbone Dog Hoodie, Small, 12-Inch, Black</h4>
					<p class="meta">Ruhazat</p>

					<div class="product-price">
						<span>5 999 Ft</span>
					</div>
				</div>
			</a>
		</li>
	</ul>

</section>