<section class="grid__item one-whole amq-product-reviews">

	<h2 class="section-title">Velemenyek</h2>
	<ul>
		<li>
			<p>Name here - <small>17 april 2015 13:47</small><br />
			Ertekeles: <span class="icon-star-full"></span><span class="icon-star-full"></span><span class="icon-star-full"></span><span class="icon-star-empty"></span><span class="icon-star-empty"></span></p>
			
			<p class="review-text">Godard Pitchfork Shoreditch aesthetic health goth, meh tilde heirloom Brooklyn forage tattooed food truck fanny pack cred. Actually four dollar toast vegan, synth scenester Kickstarter lomo locavore. IPhone food truck small batch typewriter.</p>
		</li>
		<li>
			<p>Name here - <small>17 april 2015 12:29</small><br />
			Ertekeles: <span class="icon-star-full"></span><span class="icon-star-full"></span><span class="icon-star-full"></span><span class="icon-star-full"></span><span class="icon-star-empty"></span></p>
			<p class="review-text">Heirloom wayfarers crucifix retro, squid health goth farm-to-table Brooklyn 8-bit mixtape slow-carb.</p>
		</li>
	</ul>

</section>