<section class="amq_structure_secondaryation">
		
	<div class="amq_structure_inner">

		<div class="grid grid--narrow">

			<div class="grid__item one-half  mobile--hide smart--hide phablet--hide">
				<div class="fullbox">
					<h4>feliratkozas hirlevelre</h4>
					<form class="grid grid--narrow">
						<p class=" grid__item two-thirds">
							<input type="email" required placeholder="e-mail cim"/>
						</p>
						<p class=" grid__item one-third">
							<input type="submit" class="button" value="feliratkozas">
						</p>
					</form>
				</div>
			</div>

			<div class="grid__item one-half  mobile--hide smart--hide phablet--hide">
				<div class="fullbox share">
					<h4>ossza meg masokkal</h4>
					<p class="grid grid--full">
						<a href="#" class="facebook grid__item one-fifth"><span class="icon-facebook3"></span></a>
						<a href="#" class="twitter grid__item one-fifth"><span class="icon-twitter3"></span></a>
						<a href="#" class="pinterest grid__item one-fifth"><span class="icon-pinterest"></span></a>
						<a href="#" class="linkedin grid__item one-fifth"><span class="icon-linkedin"></span></a>
						<a href="#" class="youtube grid__item one-fifth"><span class="icon-youtube"></span></a>
					</p>
				</div>
			</div>

		</div>
		
	</div>

</section>

<footer class="amq_structure_foot">

	<div class="amq_structure_inner">
	
		<div class="grid">
			<div class="grid__item one-quarter phablet--one-third smart--hide mobile--hide">
				<h4>Piacter</h4>
				
				<ul>
					<li><a href="">Ujdonsagok</a></li>
					<li><a href="">Akciok</a></li>
					<li><a href="">Nepszeru termekek</a></li>
					<li><a href="">Kutyak</a></li>
					<li><a href="">Macskak</a></li>
					<li><a href="">Halak</a></li>
					<li><a href="">Madarak</a></li>
					<li><a href="">Hullok</a></li>
					<li><a href="">Egyebek</a></li>
				</ul>
				
			</div>
			
			<div class="grid__item one-quarter phablet--hide smart--hide mobile--hide">
				<h4>Szolgaltatasok</h4>
				
				<ul>
					<li><a href="">Magazin</a></li>
					<li><a href="">Fajtaleirasok</a></li>
					<li><a href="">Allatorvos kereso</a></li>
					<li><a href="">Allatpatika kereso</a></li>
					<li><a href="">Oktatas kereso</a></li>
					<li><a href="">Klinika kereso</a></li>
					<li><a href="">Kozmetika kereso</a></li>
					<li><a href="">Panzio kereso</a></li>
					<li><a href="">Menhely kereso</a></li>
					<li><a href="">Alapitvany kereso</a></li>
					<li><a href="">Allattenyeszto kereso</a></li>
					<li><a href="">Programok</a></li>
				</ul>
				
			</div>
			
			<div class="grid__item one-quarter phablet--one-third smart--one-half mobile--one-whole">
				<h4>Kerdesek</h4>
				
				<ul>
					<li><a href="">ASZF</a></li>
					<li><a href="">Adatkezelesi nyilatkozat</a></li>
					<li><a href="">Impresszum</a></li>
					<li><a href="">Hirdetni szeretnek!</a></li>
					<li><a href="">Kapcsolat</a></li>
				</ul>
				
			</div>
			
			<div class="grid__item one-quarter phablet--one-third smart--one-half mobile--one-whole">
				<h4>Partnerek</h4>
				
				<ul>
					<li>
						<p>Minden jog fenntartva. AnyMedia Kft. &copy; 2012 - 2015<br />
						Az On referenciaszama: 253534</p>
					</li>
				</ul>
				
			</div>
		</div>

	</div>

</footer>