<section class="amq_structure_expert gutter--top gutter--bottom">

	<div class="amq_structure_inner gutter--bottom">

		<h2 class="section-title">Szakertok</h2>
		
		<ul class="grid grid--narrow">
			<li class="grid__item one-fifth tablet--one-quarter phablet--one-third smart--one-half mobile--one-half">
				<figure class="box">
					<img src="http://lorempixel.com/350/350/people/1">
					<figcaption>
						<a href="#">
							Szakerto neve
						</a><br >
						szakterulete
					</figcaption>
				</figure>
			</li>
			<li class="grid__item one-fifth tablet--one-quarter phablet--one-third smart--one-half mobile--one-half">
				<figure class="box">
					<img src="http://lorempixel.com/350/350/people/2">
					<figcaption>
						<a href="#">
							Szakerto neve
						</a><br >
						szakterulete
					</figcaption>
				</figure>
			</li>
			<li class="grid__item one-fifth tablet--one-quarter phablet--one-third smart--one-half mobile--one-half">
				<figure class="box">
					<img src="http://lorempixel.com/350/350/people/3">
					<figcaption>
						<a href="#">
							Szakerto neve
						</a><br >
						szakterulete
					</figcaption>
				</figure>
			</li>
			<li class="grid__item one-fifth tablet--one-quarter phablet--hide smart--one-half mobile--one-half">
				<figure class="box">
					<img src="http://lorempixel.com/350/350/people/4">
					<figcaption>
						<a href="#">
							Szakerto neve
						</a><br >
						szakterulete
					</figcaption>
				</figure>
			</li>
			<li class="grid__item one-fifth tablet--hide phablet--hide smart--hide mobile--hide">
				<figure class="box">
					<img src="http://lorempixel.com/350/350/people/5">
					<figcaption>
						<a href="#">
							Szakerto neve
						</a><br >
						szakterulete
					</figcaption>
				</figure>
			</li>
		</ul>
	<div>

</section>