<section class="amq_structure_manazine">

	<div class="amq_structure_inner">
		<h2 class="section-title">Allati magazin</h2>
	</div>	

	<div class="amq_structure_manazine-nav amq--grey mobile--hide smart--hide phablet--hide">
		<div class="amq_structure_inner">
			<nav class="grid grid--full">
				<ul class="grid__item one-whole">
					<li><a href="#">Taplalas</a></li>
					<li><a href="#">Gondozas</a></li>
					<li><a href="#">Fajtak</a></li>
					<li class="sublist">
						<span class="icon-play3"></span>
						<a href="#">Egeszseg</a>
						<ul>
							<li><a href="#">Betegsegek</a></li>
							<li><a href="#">Eloskodok</a></li>
							<li><a href="#">Megelozes</a></li>
							<li><a href="#">Viselkedes</a></li>
						</ul>
					</li>
					<li><a href="#">Hirek</a></li>
					<li><a href="#">Edes es vidam</a></li>
					<li><a href="#">Erdekessegek</a></li>
				</ul>
			</nav>
		</div>
	</div>

	<div class="amq_structure_inner">

		<div class="grid">

			<ul class="highlighted-articles grid__item two-thirds tablet--one-half bigdesk--one-half phablet--one-half smart--one-whole mobile--one-whole">
				<li>
					<figure>
						<a href="#"><img src="http://lorempixel.com/860/500/animals/6" /></a>
						<figcaption>
							<p class="meta"><a href="#">Gondozas</a> 2015. januar 20.</p>
							<h3><a href="#">Title of the article</a></h3>
						</figcaption>
					</figure>
					<p class="extract">Plaid cray kogi tattooed McSweeney's, locavore paleo banjo semiotics lomo. High Life gastropub aesthetic crucifix authentic. Small batch Helvetica bespoke, Neutra PBR pug authentic VHS. </p>
				</li>
				<li>
					<figure>
						<a href="#"><img src="http://lorempixel.com/860/500/animals/7" /></a>
						<figcaption>
							<p class="meta"><a href="#">Taplalas</a> 2015. januar 19.</p>
							<h3><a href="#">This is a bit longer title of the article</a></h3>
						</figcaption>
					</figure>
					
					<p class="extract">Wes Anderson ethical wayfarers flannel squid, ugh readymade next level raw denim cornhole literally Thundercats XOXO Odd Future. Vinyl vegan tote bag, slow-carb synth YOLO whatever church-key craft beer Carles Portland tofu.</p>
				</li>
			</ul>
					

			<div class="further-articles grid__item one-third tablet--one-half bigdesk--one-half phablet--one-half smart--one-whole mobile--one-whole">
			<ul class="grid">
				<li class="grid__item one-whole bigdesk--one-half">
					<p class="meta"><a href="#">Fajtak</a> 2015. januar 18.</p>
					<h3><a href="#">Title of the article</a></h3>
					<p class="extract">Viral scenester Wes Anderson, retro master cleanse 3 wolf moon biodiesel four dollar toast pop-up whatever polaroid Carles.</p>
				</li>
				<li class="grid__item one-whole bigdesk--one-half">
					<p class="meta"><a href="#">Edes es vidam</a> 2015. januar 17.</p>
					<h3><a href="#">Title of the article</a></h3>
					<p class="extract">Occupy viral fanny pack, direct trade beard cold-pressed Godard blog.</p>
				</li>
				<li class="grid__item one-whole bigdesk--one-half">
					<p class="meta"><a href="#">Hirek</a> 2015. januar 16.</p>
					<h3><a href="#">Title of the article</a></h3>
					<p class="extract">Banksy kale chips cliche Kickstarter mlkshk. Ugh leggings beard slow-carb selvage Tumblr, fingerstache roof party skateboard Pinterest master cleanse tofu brunch.</p>
				</li>
				<li class="grid__item one-whole bigdesk--one-half">
					<p class="meta"><a href="#">Gondozas</a> 2015. januar 15.</p>
					<h3><a href="#">Title of the article</a></h3>
					<p class="extract">Gluten-free slow-carb Williamsburg fap typewriter High Life, Brooklyn wolf. Beard leggings +1 brunch cliche ugh seitan, kogi before they sold out skateboard retro selfies aesthetic flannel.</p>
				</li>
				<li class="grid__item one-whole bigdesk--one-half">
					<p class="meta"><a href="#">Fajtak</a> 2015. januar 14.</p>
					<h3><a href="#">Title of the article</a></h3>
					<p class="extract">Post-ironic bitters Godard, taxidermy Helvetica leggings cray cronut lo-fi mustache.</p>
				</li>
				<li class="grid__item one-whole bigdesk--one-half">
					<p class="meta"><a href="#">Edes es vidam</a> 2015. januar 14.</p>
					<h3><a href="#">Title of the article</a></h3>
					<p class="extract">Post-ironic bitters Godard, taxidermy Helvetica leggings cray cronut lo-fi mustache.</p>
				</li>
				<li class="grid__item one-whole bigdesk--one-half tablet--hide phablet--hide smart--hide mobile--hide">
					<p class="meta"><a href="#">Gondozas</a> 2015. januar 13.</p>
					<h3><a href="#">Title of the article</a></h3>
					
					<p class="extract">Pour-over fixie readymade art party, Williamsburg High Life heirloom Brooklyn Marfa meggings drinking vinegar chillwave.</p>
				</li>
				<li class="grid__item one-whole bigdesk--one-half tablet--hide phablet--hide smart--hide mobile--hide">
					<p class="meta"><a href="#">Gondozas</a> 2015. januar 14.</p>
					<h3><a href="#">Title of the article</a></h3>
					
					<p class="extract">Post-ironic bitters Godard, taxidermy Helvetica leggings cray cronut lo-fi mustache.</p>
				</li>
				<li class="grid__item one-whole bigdesk--one-half tablet--hide phablet--hide smart--hide mobile--hide">
					<p class="meta"><a href="#">Fajtak</a> 2015. januar 13.</p>
					<h3><a href="#">Title of the article</a></h3>
					
					<p class="extract">Pour-over fixie readymade art party, Williamsburg High Life heirloom Brooklyn Marfa meggings drinking vinegar chillwave.</p>
				</li>
				<li class="grid__item one-whole bigdesk--one-half tablet--hide phablet--hide smart--hide mobile--hide">
					<p class="meta"><a href="#">Fajtak</a> 2015. januar 14.</p>
					<h3><a href="#">Title of the article</a></h3>
					
					<p class="extract">Post-ironic bitters Godard, taxidermy Helvetica leggings cray cronut lo-fi mustache. Post-ironic bitters Godard, taxidermy Helvetica leggings cray cronut lo-fi mustache</p>
				</li>
				<li class="grid__item one-whole bigdesk--one-half tablet--hide phablet--hide smart--hide mobile--hide">
					<p class="meta"><a href="#">Hirek</a> 2015. januar 14.</p>
					<h3><a href="#">Title of the article</a></h3>
					
					<p class="extract">Post-ironic bitters Godard, taxidermy Helvetica leggings cray cronut lo-fi mustache. Post-ironic bitters Godard, taxidermy Helvetica leggings cray cronut lo-fi mustache</p>
				</li>
			</ul>
			</div>

		</div>

	</div>

	

</section>