
<h2 class="section-title">Top Cica termekek</h2>

<ul class="amq_product_grid grid grid--narrow">
	<li class="grid__item one-third bigdesk--one-quarter lap--one-half mobile--one-whole">
		<a href="#" class="grid grid--full">
			
			<figure class="grid__item one-half mobile--one-third">
				<img src="http://ecx.images-amazon.com/images/I/41BzHN15BTL._AA160_.jpg" />
			</figure>
			<div class="grid__item one-half mobile--two-thirds">
				<h4>Go Pet Club Cat Tree, 50W x 26L x 72H, Beige</h4>
				<p class="meta">Maszokak</p>

				<div class="product-price">
					<strong>13 999 Ft</strong>
				</div>
			</div>
		</a>
	</li>
	<li class="grid__item one-third bigdesk--one-quarter lap--one-half mobile--one-whole">
		<a href="#" class="grid grid--full">
			
			<label>-30% akcios</label>
			<figure class="grid__item one-half mobile--one-third">
				<img src="http://ecx.images-amazon.com/images/I/41we7AjbRkL._AA160_.jpg" />
			</figure>
			
			<div class="grid__item one-half mobile--two-thirds">
				<h4>KONG Feather Mouse Catnip Toy</h4>
				<p class="meta">Jatekok</p>

				<div class="product-price">
					<s>4 435 Ft</s>
					<span>3 456 Ft</span>
				</div>
			</div>
		</a>
	</li>
	<li class="grid__item one-third bigdesk--one-quarter lap--one-half mobile--one-whole">
		<a href="#" class="grid grid--full">

			<figure class="grid__item one-half mobile--one-third">
				<img src="http://ecx.images-amazon.com/images/I/41nctoi111L._AA160_.jpg" />
			</figure>	

			<div class="grid__item one-half mobile--two-thirds">
				<h4>Catit Jumbo Hooded Cat Litter Pan - Warm Gray</h4>
				<p class="meta">Alom</p>

				<div class="product-price">
					<strong>7 956 Ft</strong>
				</div>
			</div>
		</a>
	</li>
	<li class="grid__item hidden bigdesk--one-quarter bigdesk--showiblock lap--one-half lap--showiblock mobile--hide">
		<a href="#" class="grid grid--full">

			<figure class="grid__item one-half mobile--one-third">
				<img src="http://ecx.images-amazon.com/images/I/51IXlHjqqKL._AA160_.jpg" />
			</figure>
			
			<div class="grid__item one-half mobile--two-thirds">
				<h4>Precious Cat Ultra Premium Clumping Cat Litter, 40 pound bag</h4>
				<p class="meta">Alom</p>

				<div class="product-price">
					<span>699 Ft</span>
				</div>
			</div>
		</a>
	</li>
</ul>