<section class="amq_structure_shelter gutter--top gutter--bottom">

		<div class="amq_structure_inner">

			<div class="grid grid--full">
			
				<div class="grid__item one-half mobile--one-whole smart--one-whole phablet--one-whole">
					<h2 class="section-title">menhelyek ajanlatai</h2>
				</div>

				<div class="grid__item one-half mobile--hide smart--hide phablet--hide">
					<form class="grid grid--narrow">
						<p class=" grid__item one-third">
							<span class="select-container">
								<span class="icon-play3"></span>
								<select>
									<option>faj valasztasa</option>
									<option>kutya</option>
									<option>macska</option>
									<option>lo</option>
									<option>hullo</option>
								</select>
							</span>
						</p>
						<p class="grid__item one-third">
							<span class="select-container">
								<span class="icon-play3"></span>
								<select>
									<option>fajta valasztasa</option>
								</select>
							</span>
						</p>
						<p class="grid__item one-third">
							<input type="submit" class="button" value="keress!">
						</p>
					</form>
				</div>

			</div>

		</div>
	</div>	

	<div class="amq_structure_inner gutter--bottom">
		<ul class="grid grid--narrow">
			<li class="grid__item one-fifth tablet--one-quarter phablet--one-third smart--one-half mobile--one-half">
				<figure class="box">
					<img src="http://lorempixel.com/350/350/animals/1">
					<figcaption>
						<a href="#">
							Allatka neve
						</a><br >
						ingyenesen elviheto 7 honapos keverek (lany)
					</figcaption>
				</figure>
			</li>
			<li class="grid__item one-fifth tablet--one-quarter phablet--one-third smart--one-half mobile--one-half">
				<figure class="box">
					<img src="http://lorempixel.com/350/350/animals/2">
					<figcaption>
						<a href="#">
							Allatka neve
						</a><br >
						ingyenesen elviheto 7 honapos keverek (lany)
					</figcaption>
				</figure>
			</li>
			<li class="grid__item one-fifth tablet--one-quarter phablet--one-third smart--one-half mobile--one-half">
				<figure class="box">
					<img src="http://lorempixel.com/350/350/animals/3">
					<figcaption>
						<a href="#">
							Allatka neve
						</a><br >
						ingyenesen elviheto 7 honapos keverek (lany)
					</figcaption>
				</figure>
			</li>
			<li class="grid__item one-fifth tablet--one-quarter phablet--hide smart--one-half mobile--one-half">
				<figure class="box">
					<img src="http://lorempixel.com/350/350/animals/4">
					<figcaption>
						<a href="#">
							Allatka neve
						</a><br >
						ingyenesen elviheto 7 honapos keverek (lany)
					</figcaption>
				</figure>
			</li>
			<li class="grid__item one-fifth tablet--hide phablet--hide smart--hide mobile--hide">
				<figure class="box">
					<img src="http://lorempixel.com/350/350/animals/5">
					<figcaption>
						<a href="#">
							Allatka neve
						</a><br >
						ingyenesen elviheto 7 honapos keverek (lany)
					</figcaption>
				</figure>
			</li>
		</ul>
	</div>

</section>