<section class="index_promo gutter--top">
	<div class="amq_structure_inner">
	<!-- Carousel -->

	<div id="main-carousel">
		
		<div class="carousel-slide" style="background-image: url('/assets/img/slide-01.jpg');">
			
			<div class="carousel-content">
				<a href="#">
					<h2>Mindent a kisallatanak, akar 50% kedvezmeny!</h2>
					<p>Mire van szuksege kedvencenek? Talalja meg a webshopunkban, <strong>rengeteg kedvezmeny!</strong></p>
				</a>
			</div>

			<div class="thumbnail-navigation hidden">
				<div class="thumbnail-content-img"><img src="http://placehold.it/200x150"></div>
				<h4><strong>Kiarusitas</strong>50% kedvezmeny 100 termekre</h4>
			</div>

		</div>
		<div class="carousel-slide" style="background-image: url('/assets/img/slide-02.jpg');">
			
			<div class="carousel-content">
				<a href="#">
					<h2>Pedigree Akcio</h2>
					<p>Vegye meg kutyaja havi Pedigree tapjat es 20% kedvezmenyt kap vasarlasabol! A fizetesnel hasznalja a PEDIGREE2015 kodot! </p>
				</a>
			</div>

			<div class="thumbnail-navigation hidden">
				<div class="thumbnail-content-img"><img src="http://placehold.it/200x150"></div>
				<h4><strong>Pedigree akcio</strong>mar csak 2 napig!</h4>
			</div>

		</div>
		<div class="carousel-slide" style="background-image: url('/assets/img/slide-03.jpg');">
			
			<div class="carousel-content">
				<a href="#">
					<h2>Felszereles kisallatanak</h2>
					<p>Tudta, hogy tobb mint 250 fajta kulonbozo felszereles kozul valogathat a boltunkban?</p>
				</a>
			</div>

			<div class="thumbnail-navigation hidden">
				<div class="thumbnail-content-img"><img src="http://placehold.it/200x150"></div>
				<h4><strong>Szeles valasztek</strong>250 fajta felszereles kisallatanak</h4>
			</div>

		</div>
		<div class="carousel-slide" style="background-image: url('/assets/img/slide-04.jpg');">
			
			<div class="carousel-content">
				<a href="#">
					<h2>A legjobbat a cicajanak</h2>
					<p>Miert erne be a kedvenc kis puha macskaja kozepessl? Ugy is a legjobbat akarja. Itt vannak a lehetosegek!</p>
				</a>
			</div>

			<div class="thumbnail-navigation hidden">
				<div class="thumbnail-content-img"><img src="http://placehold.it/200x150"></div>
				<h4><strong>Cicakenyezteto</strong>minden amire cicajanak szuksege lehet</h4>
			</div>

		</div>

	</div>

	</div>

</section>