	<section class="amq_structure_usp amq_structure_inner gutter--top">
	
		<div class="grid grid--narrow">
			<div class="grid__item one-third lap--one-half mobile--one-whole">
				<p class="box">
					<span class="icon-binoculars"></span>
					<strong>Tobb mint 9000 termek</strong><br />
					amire kedvencenek szuksege lehet
				</p> 
			</div>
			<div class="grid__item one-third lap--one-half mobile--hide">
				<p class="box">
					<span class="icon-aid-kit"></span>
					<strong>500+ allatorvos kereso</strong><br />
					talalja meg az Onhoz legkozelebbit!
				</p>
			</div>
			<div class="grid__item one-third lap--hide mobile--hide">
				<p class="box">
					<span class="icon-bubbles"></span>
					<strong>8 szakerto 15 temaban</strong><br />
					amit nem tud, megkerdezheti toluk
				</p> 
			</div>
		</div>
	
	</section>