{% block content %}

	<div class="amq_structure_inner">

		<div class="grid">
			<section class="grid__item one-whole mobile--hide smart--hide">
			
				<nav class="breadcrumb">

					<a href="#">főoldal</a> / <a href="#">piactér</a> / <a href="#">eledelek</a> / <a href="#">jutalomfalatok, fogtisztítók, kekszek</a> / <a href="#">szárított</a>
				</nav>

			</section>

			<section class="grid__item one-half phablet--hide smart--hide mobile--hide">
			
				<div class="amq-product-gallery grid grid--narrow">

					<ul class="grid__item one-fifth">
						<li>
							<a href="#"><img src="https://d2usve9lfn5lg7.cloudfront.net/w/75/szaritott/8in1/lightbox/8in1-fillets-pro-active-39l39-80g-2.jpg"></a>
						</li>
						<li>
							<a href="#"><img src="https://d2usve9lfn5lg7.cloudfront.net/ware/785/059/lightbox/6912-1-fillets-pro-active-l-28c6.jpg"></a>
						</li>
						<li>
							<a href="#"><img src="https://d2usve9lfn5lg7.cloudfront.net/ware/785/059/lightbox/6912-2-fillets-pro-active-l-2e92-1.jpg"></a>
						</li>
						<li>
							<a href="#"><img src="https://d2usve9lfn5lg7.cloudfront.net/ware/785/059/lightbox/6912-3-fillets-pro-active-l-4cfc-1.jpg"></a>
						</li>
					</ul>

					<figure class="grid__item four-fifths">
						<img src="https://d2usve9lfn5lg7.cloudfront.net/w/75/szaritott/8in1/lightbox/8in1-fillets-pro-active-39l39-80g-2.jpg" />

						<!-- Use only when product is on sale -->
						<label>20% kedvezmeny</label>
					</figure>

				</div>

			</section>

			<section class="amq-product-main grid__item one-half phablet--one-whole smart--one-whole mobile--one-whole">
			
				<h1>8in1 Fillets Pro Active (L)</h1>

				<p class="meta">
					TER-DE62-0<br />
					Forgalmazó: Mester-eledel Kft.
				</p>

				<!-- Hidden, visible for mobile only -->
				<div class="amq-product-gallery bigdesk--hide desk--hide tablet--hide">
					<figure>
						<img src="https://d2usve9lfn5lg7.cloudfront.net/w/75/szaritott/8in1/lightbox/8in1-fillets-pro-active-39l39-80g-2.jpg" />
						<label>20% kedvezmeny</label>
					</figure>
				</div>

				<p class="availability availability--yes">
					Rendelhető
				</p>

				<!-- NO AVAILABILITT
				<p class="availability availability--no">
					Nincs keszleten
				</p>
				-->

				<p class="description">A 8in1 Fillets Pro Active egy finom csirkehúsból készült jutalomfalat kutyánk számára, hogy megőrizze mozgékonyságát. A Nutri-Center hozzájárul a kutya egészségének megőrzéséhez, ízületeinek megóvásához.</p>

				<div class="price-container fullbox">

					<div class="grid">
						<div class="grid__item one-half">
							<p class="price">
								<span>644 Ft</span>
							</p>

							<!-- PRICE WHEN ON SALE
							<p class="price">
								<s>644 Ft</s>
								<strong>612 Ft</strong>
							</p>
							-->
						</div>
						

						<p class="grid__item one-half">
							<a href="" class="button">Kosarba teszem</a>
						</p>
					</div>
					
				</div>

				<div class="fb-like" data-href="http://amarqt.zina.xyz/" data-width="200px" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

				<div class="box amq-product-help">

					<ul>
						<li class="usp"><strong>Ingyenes kiszállítás</strong> már 12 000 Ft-tól</li>
						<li class="usp">14 napos <strong>visszavásárlási garancia</strong></li>
						<li class="question">
							<a class="md-trigger" data-modal="modal-1">Hogyan tudok vásárolni?</a>
							<div class="md-modal md-effect-3" id="modal-1">
								<div class="md-content">
									<button class="md-close"><span class="icon-cancel-circle"></span></button>
									<h3>A vásárlás menete</h3>
									<div>
										<p>Felül látni fogja, hogy hol tart éppen a folyamatban az alábbihoz hasonló megjelenítéssel.</p>
										<ol>
											<li>A kiválasztott termék oldalán, jobb oldalon található a KOSÁRBA TESZEM gomb, amelyre kattintva a kosárba tudja a terméket helyezni.</li>
											<li>A kosár oldalon tudja ellenőrizni, hogy eddig milyen termékeket helyezett a kosárba. Itt tudja módosítani a rendelt termék mennyiségét, vagy a rendelési tételeket.</li>
											<li>A Személyes adatok oldalon kell beállítani a megrendelő és a számlázandó magánszemély/cég/szervezet adatait.</li>
											<li>Az Átvételi módnál választhatjuk ki a szállítás módját, mely az adott értékesítőnél elérhető. Továbbá itt írhatjuk be a szállítási címet és egyéb megjegyzést.</li>
											<li>A fizetési módnál ellenőrizhetjük adatainkat, a rendelést és kiválaszthatjuk a fizetés módját. (Jelenleg csak a fizetés átvételkor funkció választható)</li>
										</ol>
									</div>
								</div>
							</div>
						</li>

						<li class="question">
							<a class="md-trigger" data-modal="modal-2">Hogyan tudok fizetni?</a>
							<div class="md-modal md-effect-3" id="modal-2">
								<div class="md-content">
									<button class="md-close"><span class="icon-cancel-circle"></span></button>
									<h3>Fizetési lehetőségek</h3>
									<div>
										<h4>Személyes átvétel</h4>

										<p>Az értékesítő által megadott telephelyen lehetséges díjmentesen.</p>

										<h4>Utánvét futárszolgálattal</h4>

										<p>Általában <strong>2-3 munkanapon belül</strong> kiszállításra kerül. Mivel a kiszállítás napközben történik, érdemes munkahelyi címet megadni, ha előreláthatólag nem fogsz otthontartózkodni.</p>

										<p>A kiszállítási díj alap esetben 1390 Ft, de <strong>amennyiben 12 000 Forint felett rendelsz ezt a költséget átvállaljuk.</strong></p>
									</div>
								</div>
							</div>
						</li>

						<li class="question">
							<a class="md-trigger" data-modal="modal-3">Hogyan jut el hozzám a termék?</a>
							<div class="md-modal md-effect-3" id="modal-3">
								<div class="md-content">
									<button class="md-close"><span class="icon-cancel-circle"></span></button>
									<h3>Választható átvételi/szállítási opciók</h3>
									<div>
										<h4>Készpénzben átvételkor</h4>

										<p>A legegyszerűbb módja a fizetésnek az utánvét.
										Fizethet személyes átvételnél a boltban vagy a kiszállítónak.</p>

										<h4>Tudok bankkártyával fizetni?</h4>

										<p>Jelenleg csupán készpénzes fizetés áll rendelkezésre, de hamarosan előreutalás, bankkártyás és PayPal-os fizetés is elérhető lesz.
										Ha szeretnél értesülni a legújabb fejlesztésekről, kövesd facebook oldalunkat!</p>
									</div>
								</div>
							</div>
						</li>

						<li class="question">
							<a class="md-trigger" data-modal="modal-4">Kit kereshetek, ha kérdésem van?</a>
							<div class="md-modal md-effect-3" id="modal-4">
								<div class="md-content">
									<button class="md-close"><span class="icon-cancel-circle"></span></button>
									<h3>Kapcsolat</h3>
									<div>

										<p>Amennyiben a termékkel vagy a rendeléssel kapcsolatos kérdésed lenne, fordulj hozzánk bizalommal.</p>

										<p>Munkatársaink azon dolgoznak, hogy a legmagasabb színvonalú szolgáltatásban lehessen részed az amarQt.com weboldalt böngészve. Amennyiben észrevételed, ötleted, kérdésed van hozzánk ne habozz felvenni a kapcsolatot velünk az alábbi elérhetőségek bármelyikén.</p>

										<h4>Ügyfélszolgálat</h4>

										<p>Ha piactérrel, rendeléssel kapcsolatos kérdésed, észrevételed van. ugyfelszolgalat@amarqt.com</p>

										<h4>Technikai problémák</h4>

										<p>Ha technikai problémát észlelsz vagy van egy jó ötleted, hogy mit adjunk az oldalhoz. it@amarqt.com</p>

										<h4>Általános információk</h4>

										<p>Ha bármilyen általános jellegű kérdésed, észrevételed van, ami nem sorolható a fenti kategóriákba. info@amarqt.com</p>
									</div>
								</div>
							</div>
						</li>
					</ul>
					
				</div>
				

			</section>

			<section class="grid__item one-whole amq-product-description">
			
				<h2 class="section-title">Leiras</h2>

				<p>A 8in1 Fillets Pro Active igazi csemege kedvencünk számára. Prémium csirkehúsból készült, az egydeülálló Nutri-Center pedig segíti a kutya egészségének megőrzését.</p>

				<p>A kondrotinban és glükozaminban gazdag ropogtatnivaló elősegíti a porc-, az ízület- és a csontrendszer egészségét, hozzájárulva a megfelelő agility fenntartásához.</p>

				<p>A termék visszazárható csomagolásának köszönhetően sokáig megőrzi a falatok aromáját.</p>

				<p>Minden méretű kutyának megfelel.</p>


			</section>

			
			{% include "product/reviews" %}

			<!-- WHEN THERE ARE NO REVIEWS 

			<section class="grid__item one-whole amq-product-reviews">
				<h2 class="section-title">Velemenyek</h2>
				<p>Még nincsenek vélemények. Legyél Te az első, aki értékeli! <a href="">Értékelés írása</a></p>
			</section>
			-->

			

			<section class="grid__item one-whole amq-product-details">

				<h2 class="section-title">Reszletek</h2>
				<table>
					<tbody>
						<tr>
							<th>Fehérje</th>
							<td>58 <em class="normal f11">gr / 100 gr</em></td>
						</tr>
						<tr>
							<th>Zsír</th>
							<td>4.5 <em class="normal f11">gr / 100 gr</em></td>
						</tr>
						<tr>
							<th>Nedvesség</th>
							<td>14 <em class="normal f11">gr / 100 gr</em></td>
						</tr>
						<tr>
							<th>Nyers hamu</th>
							<td>4 <em class="normal f11">gr / 100 gr</em></td>
						</tr>
						<tr>
							<th>Rosttartalom</th>
							<td>1 <em class="normal f11">gr / 100 gr</em></td>
						</tr>
						<tr>
							<th>Összetétel</th>
							<td>hús és állati származékok (csirke 92%), ásványi anyagok, puhatestűek és rákfélék (0.3% glükozamin-hidroklorid; 0.3% kondroitin-szulfát)</td>
						</tr>
						<tr>
							<th>Állat mérete</th>
							<td>Minden méret</td>
						</tr>
						<tr>
							<th>Etetési javaslat</th>
							<td>Jutalomfalatként adható az étkezések között.</td>
						</tr>
						<tr>
							<th>Tárolás</th>
							<td>száraz, hűvös helyen</td>
						</tr>
						<tr>
							<th>Csomagolás</th>
							<td>visszazárható tasak</td>
						</tr>
					</tbody>
				</table>


			</section>

			{% include "product/related" %}


		</div>
	</div>

{% endblock %}

